<div *ngIf="movie">
  <p>Nom du film : {{ movie.title }}</p>

  <p>Numéro de l'episode : {{ movie.episode_id }}</p>

  <p>Date de sortie : {{ movie.release_date }}</p>

  <p>Réalisateur : {{ movie.director }}</p>

  <p>Texte d'ouverture : {{ movie.opening_crawl }}</p>

    <!-- <ul>
        <li *ngFor="let character of movie.characters">{{ character }}</li>
    </ul> -->
</div>

<app-movie-characters-component
  *ngFor="let selectedCharacter of movie?.characters"
  [selectedCharacter]="selectedCharacter"
></app-movie-characters-component>
